{% extends "strona/base.html" %}
{% load static%}

{% block content %}
<p>Utwór zagrany przeze mnie na pianinie cyfrowym</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/gOjcDbyUMqY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Nagranie z dawnych lat na gitarze</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Ro2Xwl40qcg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{% endblock content %}